html, body{
  box-sizing: border-box;
}
.livestream-wrapper{
  width: 80%;
  padding: 20px;
  height: 500px;
  margin: auto;
}
#livestream{
  border: none;
  height: 100%;
  width: 100%;
}


.selfie-popup{
 width: 768px !important;
 min-width: 768px !important;
 max-width: 768px !important;
 position: relative;
 background-color: rgba(0,0,0,0.3) !important;
}

.selfie-loader{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#selfie{
  width: 768px !important;
  height: auto;
}

.selfie-buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.selfie-btn{
  color: white !important;
  }
.white-outline{
  border: 1px solid white !important;  
}  

#inner-circle{
  cursor: pointer;
}

.guestbook-input{
  margin-top: 12px;
}
.guestbook-input.message{
  margin-top: 24px;
}

.image-drop-zone-container{
  margin-top: 10px;
  background-color: #e5e2e2;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  position: relative;
}
.loading {
  position: absolute;
  left: 50%;
  right: 50%;
}
.disabled{
  background-color: rgba(229, 226, 226, .6);
  color: rgba(0, 0, 0, .6);
  cursor: not-allowed;
}

.hide{
  visibility: hidden;
}
.image-buttons{
  display: flex;
  justify-content: flex-end;
}
.image-button{
  margin-right: 10px;
}
.guest-message-media{
  height: 0;
  padding-top: 56.25%;
}
.submit-button{
  margin-left: auto;
}

.guest-book-wrapper{
  width: 50%;
  max-width: 400px;
}

.selfie-alert{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 0;
  opacity: 0.8;
}

.polaroid-container{
  position: relative;
  margin-bottom: 100px;
  perspective: 1000px;
  cursor: pointer;
}

.polaroid-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.polaroid-back-container{
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.polaroid-front-container{
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: rotateY(180deg);
}

.polaroid-front-image{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.picture-text{
  position: absolute;
  top: 6%;
  left: 8%;
  height: 74%;
  width: 84%;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Restless Youth Sans",'Restless Youth Small Caps', cursive;
  text-shadow: 0 0 40px black;
}

.polaroid-image {
  position: absolute;
  width: 84%;
  height: 74%;
  top: 6%;
  left: 8%;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 1px;
  -moz-box-shadow:    inset 0 0 45px #000000;
  -webkit-box-shadow: inset 0 0 45px #000000;
  box-shadow:         inset 0 0 45px #000000;
  box-shadow: inset 0 0 45px #00000085;
}

.polaroid-container:hover .polaroid-container-inner {
  transform: rotateY(180deg);
}

.polaroid-back-image, .polaroid-front-image{
  width: 100%;
}
.preload-polaroid-image{
  position: absolute;
  top:0;
  left:0;
  height: 0;
  width: 0;
  visibility: hidden;
}

.polaroid-text{
  position: absolute;
  top: 6%;
  left: 4%;
  padding: 3%;
  width: 86%;
  height: 68%;
  font-size: 8em;
  color: silver !important;
  word-break: break-word;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; 
}


.has-picture{
  font-family: 'Permanent Marker', cursive;
  bottom: 0px;
  overflow: hidden;
  top: unset;
  height: 20%;
  width: 100%;
  left: 0;
  color: black;
  padding-bottom: 8px; 
  font-size: 18px;
  text-shadow: none; 
}